h1 {
    text-align: center;
    margin-top: 50px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 90%;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 70px;
    padding: 25px;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20231130/pngtree-white-wallpaper-background-illuminating-paper-texture-with-ample-copy-space-image_13813790.png);
}


.parentdiv {
    width: 100%;
    margin-top: 10px;
    margin-left: 200px;
}

.parentdiv div {
    
    width: 30%;
    border: 1px solid white;
    border-radius: 50px;
    float: left;
    text-align: center;

}

p {
    text-align: center;
    font-size: 25px;
    color: white;
}

.profile {
    background-image: url(https://i.pinimg.com/originals/8e/ff/81/8eff81d46686e3c82c64565eb09393b9.gif);
    text-align: center;
    width: 200px; 
    height: 300px; 
    border: 1px solid #000000; 
    border-radius: 15px; 
    padding: 30px;
    margin-left: 10px;
    margin-bottom: 70px; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1); 
    position: relative;
}

.image {
    background-image: url(https://media4.giphy.com/media/xUA7b5ix0igTG9CyU8/giphy.gif);
    background-size: cover;
    text-align: center;
    width: 50%; 
    height: 300px; 
    border: 1px solid #000000; 
    border-radius: 15px; 
    padding: 10px;
    margin-left: 20px;
    margin-bottom: 70px; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1); 
    position: relative;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

ul {
    margin-left: 80px;
    border: 1px solid rgba(255, 255, 255, 0.377);
    border-radius: 20px;
    width: 200px;
    height: 80px;
    background-color: rgba(240, 248, 255, 0.253);

}

li {
    margin-top: 3px;
    font-family: cursive;
    text-align: left;
}

.socials {
    text-align: left;
}

a img {
    
    width: 20px;
    height: 20px;
}